{{'component-banner-with-image.css' | asset_url | stylesheet_tag}}

{%- style -%}
.section-{{ section.id }}-height {
    height: {{ section.settings.banner_height | times: 0.75 | round: 0 }}px;
}
.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.banner_top | times: 0.75 | round: 0 }}px;
    padding-right: {{ section.settings.banner_right | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.banner_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ section.settings.banner_left | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
    .section-{{ section.id }}-height {
        height: {{ section.settings.banner_height | times: 0.75 | round: 0 }}px;
    }
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.banner_top | times: 0.75 | round: 0 }}px;
        padding-right: {{ section.settings.banner_right | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.banner_bottom | times: 0.75 | round: 0 }}px;
        padding-left: {{ section.settings.banner_left | times: 0.75 | round: 0 }}px;
    }
}
{%- endstyle -%}

{% if section.blocks.size > 0 %}
<section class="banner section-{{ section.id }}-height">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'text'  %}
                {% assign text_on_image = block.settings.text %}
                {% assign text_heading = block.settings.heading %}
                {%- if text_on_image != blank -%}
                <div class="banner__text-wrapper banner__text__position-{{ section.settings.banner__text__position }} section-{{ section.id }}-padding section-{{ section.id }}-opacity banner__text__background-{{section.settings.banner__text__background}}">
                    <h1 class="banner__text-heading banner__text__heading-{{ section.settings.heading__font__size }} banner__text__color-{{ section.settings.banner__text__color }}"> 
                        {{ text_heading }}
                    </h1>
                    <p class="banner__text__on__image banner__text-{{ section.settings.text__font__size }} banner__text__color-{{ section.settings.banner__text__color }}">
                        {{ text_on_image }}
                    </p>
                </div>
                {%- endif -%}          
            {% when 'image'  %}
                {% assign background_image_1 = block.settings.image_1 %}
                {% assign background_image_2 = block.settings.image_2 %}
                {%- if background_image_1 != blank-%}
                    {{ background_image_1 | image_url: width: 500 | image_tag: class: "banner__image "}}
                    {% if background_image_2 != blank %}
                        {{ background_image_1 | image_url: width: 500 | image_tag: class: "banner__image__half"}}
                        {{ background_image_2 | image_url: width: 500 | image_tag: class: "banner__image__half"}}  
                    {% endif %}
                {%- endif -%}
        {% endcase %}
    {% endfor %}
</section>
{% endif %}

{% schema %}
 {
    "name": "Banner with image",
    "class": "section",
    "settings": [
        {
            "type": "range",
            "id": "banner_height",
            "min": 300,
            "max": 800,
            "step": 5,
            "unit": "px",
            "label": "Banner height",
            "default": 360
        },        
        {
            "type": "select",
            "id": "banner__text__position",
            "options": [
                {
                    "value": "top-left",
                    "label": "top-left"
                },
                {
                    "value": "top-center",
                    "label": "top-center"
                },
                {
                    "value": "top-right",
                    "label": "top-right"
                },
                {
                    "value": "middle-left",
                    "label": "middle-left"
                },
                {
                    "value": "middle-center",
                    "label": "middle-center"
                },
                {
                    "value": "middle-right",
                    "label": "middle-right"
                },
                {
                    "value": "bottom-left",
                    "label": "bottom-left"
                },
                {
                    "value": "bottom-center",
                    "label": "bottom-center"
                },
                {
                    "value": "bottom-right",
                    "label": "bottom-right"
                }
            ],
            "default": "middle-center",
            "label": "Bannet text position"
        },
        {
            "type": "range",
            "id": "banner_top",
            "min": 10,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Padding top",
            "default": 20
        },        
        {
            "type": "range",
            "id": "banner_right",
            "min": 10,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Padding right",
            "default": 20
        },
        {
            "type": "range",
            "id": "banner_bottom",
            "min": 10,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Padding bottom",
            "default": 20
        },   
        {
            "type": "range",
            "id": "banner_left",
            "min": 10,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Padding left",
            "default": 20
        },
        {
            "type": "select",
            "id": "heading__font__size",
            "options": [
                {
                    "value": "smaller",
                    "label": "Heading smaller"
                },
                {
                    "value": "middle",
                    "label": "Heading middle"
                },
                {
                    "value": "bigger",
                    "label": "Heading bigger"
                }
            ],
            "default": "middle",
            "label": "Font size for heading"
        },      
        {
            "type": "select",
            "id": "text__font__size",
            "options": [
                {
                    "value": "smaller",
                    "label": "Text smaller"
                },
                {
                    "value": "middle",
                    "label": "Text middle"
                },
                {
                    "value": "bigger",
                    "label": "Text bigger"
                }
            ],
            "default": "middle",
            "label": "Font size for text"
        },      
        {
            "type": "select",
            "id": "banner__text__color",
            "options": [
                {
                    "value": "black",
                    "label": "Black"
                },
                {
                    "value": "white",
                    "label": "White"
                },
                {
                    "value": "red",
                    "label": "Red"
                },                
                {
                    "value": "yellow",
                    "label": "Yellow"
                },                
                {
                    "value": "green",
                    "label": "Green"
                },                
                {
                    "value": "blue",
                    "label": "Blue"
                },                
                {
                    "value": "purple",
                    "label": "Purple"
                }
            ],
            "default": "white",
            "label": "Color heading and text on image"
        },  
        {
            "type": "select",
            "id": "banner__text__background",
            "options": [
                {
                    "value": "white",
                    "label": "White"
                },
                {
                    "value": "black",
                    "label": "Black"
                },
                {
                    "value": "blue",
                    "label": "Blue"
                },
                {
                    "value": "transparent",
                    "label": "Transparent"
                }
            ],
            "default": "transparent",
            "label": "Background text"
        }        
    ],
    "blocks": [
        {
            "type": "text",
            "name": "text",
            "settings": [
                {
                    "type": "textarea",
                    "id": "text", 
                    "label": "Text"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "default": "Banner with image",
                    "label": "Heading for banner with image"
                }
            ]          
        },
        {
            "type": "image",
            "name": "Image",
            "limit": 1,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_1",
                    "label": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "image_2",
                    "label": "Image"
                }
            ]          
        }
    ],
    "presets": [
        {
            "name": "Banner with image"
        }
    ]
}
{% endschema %}