{{'section-banner-with-image.css' | asset_url | stylesheet_tag}}


{% if section.blocks.size > 0 %}
<section class="banner"
  style="
    --min-height: {{ section.settings.banner_height }}px;
    --min-height-mobile: {{ section.settings.banner_height_mobile }}px;
    --padding-top-desk: {{ section.settings.banner_top }}px;
    --padding-bottom-desk: {{ section.settings.banner_bottom }}px;
    --padding-top-mobile: {{ section.settings.banner_top_mobile }}px;
    --padding-bottom-mobile: {{ section.settings.banner_bottom_mobile }}px;
    --background-color: {{section.settings.background_color}}{{section.settings.background_opacity}}"
  >
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'text'  %}
                {% assign text = block.settings.text %}
                {% assign text_heading = block.settings.heading %}
                {%- if text_heading != blank or text != blank  -%}
                    <div class="banner__text-wrapper banner__text__position-{{ section.settings.banner_text_position }} 
                        banner__text__background-{{section.settings.banner__text__background}}"
                        style="
                        --text-color: {{ block.settings.text_color}};
                        --text-shadow-color: {{block.settings.text_shadow_color}}"
                        >
                        {%- if text_heading != blank -%}
                            <h1 class="banner__text-heading"
                            style="
                            --header-font-size: {{ block.settings.header_font_size }}px;
                            --header-font-size-mobile: {{ block.settings.header_font_size_mobile }}px;"
                            > 
                                {{ text_heading }}
                            </h1>
                        {%- endif -%} 
                        {%- if text != blank -%}
                            <p class="banner__text"
                            style="
                            --text-font-size: {{ block.settings.text_font_size }}px;
                            --text-font-size-mobile: {{ block.settings.text_font_size_mobile }}px;"
                            >
                                {{ text }}
                            </p> 
                        {%- endif -%} 
                    </div>
                {%- endif -%} 
            {% when 'image'  %}
                {% assign image_1 = block.settings.image_1 %}
                {% assign image_2 = block.settings.image_2 %}
                {% assign image_mobile = block.settings.image_mobile %}
                {% assign image_classes = 'banner__image' %}
                {% assign image_classes_mobile = 'banner__image-mobile' %}
           
                {%- if image_1 != blank and image_2 != blank -%}
                    {% assign image_classes = 'banner__image banner__image--half' %}
                {% endif %}
                
                {%- if image_1 != blank-%}
                    {% render 'image', image: image_1, class_name: image_classes, alt: background_image_1.alt, small_size: false-%}
                {%- endif -%}

                {% if image_2 != blank %}
                    {% render 'image', image: image_2, class_name: image_classes, alt: background_image_2.alt, small_size: false %} 
                {% endif %} 

                {% if image_mobile != blank %}
                    {% render 'image', image: image_mobile, class_name: image_classes_mobile, alt: image_mobile.alt, small_size: false %} 
                {% endif %}
        {% endcase %}
    {% endfor %}
</section>
{% endif %}

{% schema %}
 {
"name": "Banner",
"class": "section",
"settings": [
    {
        "type": "range",
        "id": "banner_height",
        "min": 300,
        "max": 800,
        "step": 5,
        "unit": "px",
        "label": "Banner height",
        "default": 360
    }, 
    {
        "type": "range",
        "id": "banner_height_mobile",
        "min": 100,
        "max": 500,
        "step": 5,
        "unit": "px",
        "label": "Banner height mobile", 
        "default": 360
    },       
    {
        "type": "select",
        "id": "banner_text_position",
        "options": [ 
            {
                "value": "top-left",
                "label": "Top-left"
            },
            {
                "value": "top-center",
                "label": "Top-center"
            },
            {
                "value": "top-right",
                "label": "Top-right"
            },
            {
                "value": "middle-left",
                "label": "Middle-left"
            },
            {
                "value": "middle-center",
                "label": "Middle-center"
            },
            {
                "value": "middle-right",
                "label": "Middle-right"
            },
            {
                "value": "bottom-left",
                "label": "Bottom-left"
            },
            {
                "value": "bottom-center",
                "label": "Bottom-center"
            },
            {
                "value": "bottom-right",
                "label": "Bottom-right"
            }
        ],
        "default": "middle-center",
        "label": "Bannet text position"
    },
    {
        "type": "range",
        "id": "banner_top",
        "min": 10,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Padding top",
        "default": 20
    },        
    {
        "type": "range",
        "id": "banner_bottom",
        "min": 10,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Padding bottom",
        "default": 20
    },
    {
        "type": "range",
        "id": "banner_top_mobile",
        "min": 10,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Padding top mobile",
        "default": 20
    },        
    {
        "type": "range",
        "id": "banner_bottom_mobile",
        "min": 10,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Padding bottom mobile",
        "default": 20
    },      
    {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#ffffff"
    },
    {
        "type": "range",
        "id": "background_opacity",
        "min": 0,
        "max": 95,
        "step": 5,
        "unit": "%",
        "label": "Background opacity",
        "default": 0
    }        
],
"blocks": [
    {
        "type": "text",
        "name": "text",
        "limit": 1,
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "default": "Banner with image",
                "label": "Header banner"
            },
            {
                "type": "range",
                "id": "header_font_size",
                "min": 10,
                "max": 100,
                "step": 1,
                "unit": "px",
                "label": "Header size",
                "default": 30
            }, 
            {
                "type": "range",
                "id": "header_font_size_mobile",
                "min": 10,
                "max": 100,
                "step": 1,
                "unit": "px",
                "label": "Header size mobile",
                "default": 30
            }, 
            {
                "type": "textarea",
                "id": "text", 
                "label": "Banner text"
            },    
            {
                "type": "range",
                "id": "text_font_size",
                "min": 10,
                "max": 100,
                "step": 1,
                "unit": "px",
                "label": "Text size",
                "default": 16 
            },    
            {
                "type": "range",
                "id": "text_font_size_mobile",
                "min": 10,
                "max": 100,
                "step": 1,
                "unit": "px",
                "label": "Text size mobile",
                "default": 16 
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text color",
                "default": "#ffffff"
            },            
            {
                "type": "color",
                "id": "text_shadow_color",
                "label": "Shadow color",
                "default": "#ffffff"
            }
        ]          
    },
    {
        "type": "image",
        "name": "Image",
        "limit": 1,
        "settings": [
            {
                "type": "image_picker",
                "id": "image_1",
                "label": "Image 1"
            },
            {
                "type": "image_picker",
                "id": "image_2",
                "label": "Image 2"
            },
            {
                "type": "image_picker",
                "id": "image_mobile",
                "label": "Image mobile"
            }
        ]          
    }
],
"presets": [
    {
        "name": "Banner with image"
    }
]
}
{% endschema %}